*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.playing{
    background-color: azure;
    scale: 1.05 ;
}

.BoxButton {
    height: 100px;
    width: 100px;
    border: 10px ;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    transition: scale 250ms ease,filter 250ms ease,background-color 150ms;
}
.BoxButton:active {
    scale: 1.05 ;
    filter: brightness(70%);
}
.Container{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.Glow{
    background-color: lightgray !important;
}
p{
    font-family: sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

.App{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: background 150ms ease;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: #242424;
    color : white;
}
.SimonGame{
    background: cyan;
    padding: 10px;
    border-radius: 5%;
}